<p id="notice"><%= notice %></p>

<h1>Theatres</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Lieu</th>
      <th>Type</th>
      <th>Longueur</th>
      <th>Largeur</th>
      <th>Surface</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theatres.each do |theatre| %>
      <tr>
        <td><%= theatre.titre %></td>
        <td><%= theatre.lieu %></td>
        <td><%= theatre.type %></td>
        <td><%= theatre.longueur %></td>
        <td><%= theatre.largeur %></td>
        <td><%= theatre.surface %></td>
        <td><%= link_to 'Show', theatre %></td>
        <td><%= link_to 'Edit', edit_theatre_path(theatre) %></td>
        <td><%= link_to 'Destroy', theatre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theatre', new_theatre_path %>
