<% content_for :title do %>
  Theatre
<% end %>

<p id="notice"><%= notice %></p>

<% content_for :theatre_active do %> active <% end %>

<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-12 my-4">
      <%= link_to new_theatre_path , :class => "btn btn-outline-info float-right" do %>
      <i class="fa fa-plus-circle"></i><span class="pl-2">New Theatre</span>
     <% end %>
    </div>
  </div>
<% end %>

<div class="row theatre-list-content">
  <div class="col-md-12">
   <div class="row">
     <% @theatres.each do |theatre| %>
       <div class="col-md-4">
         <div class="card">
           <div class= "card-block">
             <div class="card-text">
               <table class="table table-hover table-striped mt-4">
                 <tbody>
                   <tr>
                     <td class="title">Titre</td>
                     <td><%= theatre.titre %></td>
                   </tr>
                   <tr>
                     <td class="title">Type</td>
                     <td><%= theatre.theatre_type %></td>
                   </tr>
                    <% if current_user.admin? %>
                      <tr>
                        <td class="title">Lieu</td>
                        <td><%= theatre.lieu_id %></td>
                      </tr>
                       <tr>
                         <td class="title">Longueur</td>
                         <td><%= theatre.longueur %></td>
                       </tr>
                       <tr>
                         <td class="title">Largeur</td>
                         <td><%= theatre.largeur %></td>
                       </tr>
                       <tr>
                         <td class="title">Surface</td>
                          <td><%= theatre.surface %></td>
                       </tr>
                       <tr>
                         <td>
                           <%= link_to 'Show', theatre %>
                         </td>
                         <td><%= link_to 'Edit', edit_theatre_path(theatre) %></td>
                         <td><%= link_to 'Destroy', theatre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                       </tr>
                   <% else %>
                    <tr>
                      <td><%= link_to 'Read more..', theatre %></td>
                    </tr>
                   <% end %>
               </tbody>
             </table>
            </div>
          </div>
         </div>
        </div>
     <% end %>
    </div>
  </div>
</div>
