<%= form_with(model: lieu, local: true) do |form| %>
  <% if lieu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lieu.errors.count, "error") %> prohibited this lieu from being saved:</h2>

      <ul>
      <% lieu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lieu_name %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse, id: :lieu_adresse %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :lieu_photo %>
  </div>

  <div class="field">
    <%= form.label :theatre_id %>
    <%= form.number_field :theatre_id, id: :lieu_theatre_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
