<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lieu.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @lieu.adresse %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @lieu.photo %>
</p>

<%= link_to 'Edit', edit_lieu_path(@lieu) %> |
<%= link_to 'Back', lieus_path %>
