<!DOCTYPE html>
<html class="d-flex">
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-sm-flex flex-row">
    <%= render "shared/header" %>
    <div class="main-content align-self-stretch d-flex">
      <% if current_user %>
        <%= render "shared/left_menu" %>
      <% end %>
      <div class="dashboard-content">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/embed_code', options: {
      api_key: current_account.api_key,
      app_url: ENV['APP_URL'],
      assets_url: ENV['ASSET_HOST'],
      launcher: {
        label: 'Knowledgebase',
        radius: 8,
        placement: 'right',
        offset: {
          right: 20,
          bottom: 200
        },
        animation: {
          effect: 'fadeIn',
          iterationCount: 'infinite',
          duration: 5
        }
      },
      player: {
        type: 'default',
        backdrop: true
      },
      segment: true
    } %>
  </body>
</html>
