<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row  edit-informations w-100">
     <div class="col-md-3 offset-md-1 user-picture">
        <figure class="figure">
         <img class="figure-img img-fluid" src="<%= asset_path 'user-profile.png' %>" alt="picture">
         <figcaption class="figure-caption"><%= f.file_field :photo,  class: "picture-btn" %></figcaption>
       </figure>
      </div>
      <div class="col-md-7">
        <h3 class="mb-3"> Informations personnelles </h3>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :first_name  %>
              <%= f.text_field :first_name, autofocus: true, required: "true", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :last_name  %>
              <%= f.text_field :last_name, required: "true", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", disabled: false %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, required: true, class: "form-control" %>
           </div>
          </div>
        </div>

        <h5 class="mb-3">Password</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password, 'New password'  %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :current_password  %>
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control", required: true %>
            </div>
            <div class="form-group profile-btn">
              <%= f.hidden_field :provider, value: "email" %>
              <%= f.submit "Update profile", class: "btn btn-success" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password_confirmation, 'Confirm new password'  %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
